.ViewSurvey {
    background-color: #CF8F2E;
    height: 6000px;
    width: 100%;
    overflow-y: scroll;
}

.HeaderViewSurvey {
    display: flex;
    padding: 20px;
    text-align: left;
    border: 1px solid black;
    background-color: #703B09;
    color: white;
    width: 100%;
    // justify-content: space-between;
}

.ViewSurveyDiv {
    display: inline-block;
    padding: 20px 20px;
    justify-content: center;
    margin: 16px;
    border: 1px solid black;
    background-color: #8B4513;
    color: white;
    width: 80%;
}

.RespondentInfoDiv {
    text-align: center;
    // margin-left: 150px;
}

.DateAndTime {
    line-height: 10px;
    position: relative;
    display: inline;
}

ion-button {
    background-color: #8B4513;
    color: white;
    border: none;
    font-weight: bold;
}

// For Desktop
@media (min-width: 500px) {
    .RespondentInfoDiv {
        text-align: left;
        margin-left: 150px;
    }

    .ViewSurveyDiv {
        display: inline-block;
        padding: 20px 205px;
        justify-content: center;
        margin: 16px;
        border: 1px solid black;
        background-color: #8B4513;
        color: white;
        width: 80%;
    }

    .DateAndTime {
        line-height: 10px;
    }
    
}
