<div class='Dashboard'>
  <div class='HeaderDashboard'>
    <div style='display: flex; float: left'>
      <img src='https://www.mcdelivery.com.ph/uploads/images/BigMacALA435X320-min.png' style='height: 100px'>
      <h1 syle='vertical-align: middle; line-height: 70px'>Roan's Burger</h1>
    </div>
    <div style='float: right; margin-left: 750px; display: flex' *ngIf='isAdminLoggedIn'>
      <h3 style='vertical-align: middle; line-height: 70px; padding-right: 40px; cursor: pointer' (click)='onViewSurvey()'>Survey</h3>
      <h3 style='vertical-align: middle; line-height: 70px; padding-right: 40px; cursor: pointer' (click)='onViewSurveyReport()'>Survey Report</h3>
      <h3 style='vertical-align: middle; line-height: 70px; cursor: pointer' (click)='onSignOut()'>Sign Out</h3>
    </div>
    <div style='float: right; display: flex; margin-left: 1000px;' *ngIf='!isAdminLoggedIn'>
      <h3 style='vertical-align: middle; line-height: 70px; padding-right: 40px; cursor: pointer' (click)='onViewSurvey()'>Survey</h3>
      <h3 style='vertical-align: middle; line-height: 70px; cursor: pointer' (click)='onLogIn()'>Log In</h3>
    </div>
  </div>
  <h3 *ngIf='!isAdminLoggedIn' style='text-align: center; font-weight: bold; color: red'>You are not authorized to view this page. Kindly log in as Administrator.</h3>
  <div style='text-align: center' *ngIf='isAdminLoggedIn'>
    <div class='DashboardDiv'>
      <h1 style='text-align: center'><strong>List of Surveys</strong></h1>
      <h3 *ngIf='surveys.length === 0'>There are no survey/s.</h3>
      <div style='text-align: center; justify-content: center'>
        <table *ngIf='surveys.length !== 0'>
            <thead>
              <tr>
                <th style='text-align: center'>User</th>
                <th style='text-align: center'>Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let survey of surveys; let i = index'>
                <td style='text-align: center'>{{ survey[1].id }}</td>
                <ion-button color='#8B4513' (click)='onViewUserSurvey(survey[1])'>View Survey</ion-button>
                <ion-button color='#8B4513' (click)='onDeleteUserSurvey(survey[0], survey[1].id)'>Delete Survey</ion-button>
                <ion-button color='#8B4513' (click)='onUpdateUserSurvey(survey[0], survey[1])'>Update survey</ion-button>
                <!-- <ion-button color='#8B4513' (click)='onViewUserSurvey(survey.user)'>View Survey</ion-button> -->
                <!-- <td style='text-align: center; cursor: pointer' (click)='onViewUserSurvey(survey.user)'>View Survey</td> -->
            </tbody>
        </table>    
      </div>
    </div>
  </div>
</div>
